# Ignore the following files #
# ----------------------------

# .idea files
/.idea

# Non important files
__pycache__/
.DS_Store

# My personal LinkedIn data
/data

# Testing files
/assets/linkedin_logo2.png
/assets/avatar_img2.png
