"""
{
    "title": "Dashboard Customized CSS Styles",
    "owner": ("Wafa'a Aburub", "wafaa.github@gmail.com"),
    "description": "Creates customizes CSS styles for dash components."
}
"""


/* Date Picker Range CSS Style */
.date-picker-range {
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 15px;
}


